.link {
    @apply text-sm;
    color: #093;
    text-decoration: none;
}

.resultHeading {
    @apply truncate text-lg text-blue-800 font-medium group-hover:underline pb-0;
    line-height: 1.1;
}

.thumbnail {
    max-width: 160px;
    margin-right: theme("spacing.3");
    display: block;
    /* max-height:80px; */
    width: auto;
    height: auto;
}